<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaDeReservas.Properties.Settings.GestionReservasConnectionString"
            connectionString="Data Source=DESKTOP-2HR2RRB\SQLEXPRESS;Initial Catalog=GestionReservas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>