<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.GestionReservasConnectionString"
            connectionString="Data Source=DESKTOP-2HR2RRB\SQLEXPRESS;Initial Catalog=GestionReservas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>